body {
    background-color: gray;
}

h1 {
    font_family: Arial, Verdana, Serif;
    font_size: 48px;
    font-weight: bold;
    color: blue;
    padding: 25px;
    text-align: center;
}

h2 {
    font_family: Arial, Verdana, Serif;
    font_size: 36px;
    color: blue;
}

h3 {
    font_family: Arial, Verdana, Serif;
    font_size 24px;
    color: blue;
}

p {
    font-size: 16px;
    font_family: "Times New Roman", Serif;
}

#na {
    font_family: Arial, Verdana, Serif;
    color: red;
}