body {
    background-color: gray;
}

h1 {
    font-family: Arial;
    font-size: 48px;
    font-weight: bold;
    color: blue;
    padding: 25px;
    text-align: center;
}

h2 {
    font-family: Arial,;
    font-size: 36px;
    color: blue;
}

h3 {
    font-family: Arial;
    font-size: 24px;
    color: blue;
}

p {
    font-size: 16px;
    font-family: "Times New Roman";
}

#na {
    font-family: Arial;
    color: red;
}